/* Common Utility */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
   font-family: 'Poppins', sans-serif;
}

/* First block style  */
.first-block{
    background-color: #2D25A0;
    color: white;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
}
.first-block img{
    width: 556.01px;
    height: 438px;
    padding: 150px;
}

.block-title{
     margin-top: 150px;
     margin-left: 50px;
}
.first-title{
    font-size: 64px;
    width: 485px;
    height: 230px;
}
.block-button{
    background-color: #E02C6D;
    width: 168px;
    height: 44px;
    text-align: center;
    margin-top: 100px;
    padding-top: 15px;
}
.block-button i{
    margin-left: 5px;
}
.block-button:hover i{
    transform: translate(7px);
}

.block-button:hover{
    background-color: red;
    transition: background-color 2s linear,translate ease;
}

/* Players Style */

.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    justify-items: center;
    margin: 100px 180px;
}
.player{
    width: 330px;
    height: 474px;
    padding: 33px 15px;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
}
.player-details{
    width: 300px;
    height: 426px;
}
.player-name{
    font-size: 28px;
    font-weight: 700;
}
.player-info{
    font-size: 16px;
}

.player .player-img img{
    width: 300px;
    height: 256px;
}