/* Common Utility */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
   font-family: 'Poppins', sans-serif;
}

/* First block style  */
.first-block{
    background-color: #2D25A0;
    color: white;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
}
.first-block img{
    width: 556.01px;
    height: 438px;
    padding: 150px;
}

.block-title{
     margin-top: 150px;
     margin-left: 50px;
}
.first-title{
    font-size: 64px;
    width: 485px;
    height: 230px;
}
.block-button{
    background-color: #E02C6D;
    width: 168px;
    height: 44px;
    text-align: center;
    margin-top: 100px;
    padding-top: 15px;
}
.block-button i{
    margin-left: 5px;
}
.block-button:hover i{
    transform: translate(7px);
}

.block-button:hover{
    background-color: red;
    transition: background-color 2s linear,translate ease;
}

/* Players Style */

.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    justify-items: center;
    margin: 100px 180px;
}
.player{
    width: 330px;
    height: 474px;
    padding: 33px 15px;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
}
.player-details{
    width: 300px;
    height: 426px;
}
.player-name{
    font-size: 28px;
    font-weight: 700;
}
.player-info{
    font-size: 16px;
}

.player .player-img img{
    width: 300px;
    height: 256px;
}

/* highlights style  */
.highlights{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items: center;
    grid-column-gap: 6px;
}
.match-info{
    width: 469px;
    height: 309px;
    margin-left: 100px;
}
.match-title{
    font-weight: 700;
    font-size: 48px;
}
.match-video{
    margin-right: 150px;
}

.live-button{
    background-color: #E02C6D;
    width: 168px;
    height: 44px;
    text-align: center;
    margin-top: 25px;
    padding-top: 15px;
}
.live-button a{
    text-decoration: none;
    color: white;
}
.live-button i{
    margin-left: 5px;
}
/* logo style  */
.logo{
      
}
.company-logo{
    width: 483.87px;
    height: 110px;
    margin: 100px 500px;
}
.social-logo{
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    grid-column-gap: 60px;
    width: 170px;
    height: 32px;
    justify-items: center;
    align-items: center;
    margin:95px 820px;
}
.social-logo a{
    text-decoration: none;
    color: black;
}
.social-logo i{
transform: scale(1.8);
}
.copyright{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-top: 5px;
}
/* media queries
   mobile devices */

   @media only screen and (max-width:688px) {
            .first-block{
             flex-direction: column;
             width: 100%;
            }
            .first-block img{
                /* width: 300px;
                height: 400px; */
                width: 100%;
                padding: 5px;
                margin-top: 35px;
            }
            .first-title{
                width: 100%;
                font-size: 50px;
            }
            .players, .highlights{
                grid-template-columns: repeat(1,1fr);
                justify-content: center;
            }
            .highlights{
               width: 100%;
               padding: 20px; 
            }

            /* .match-info{
                width: 50%;
                padding: 50px;
                transform: scale(.5);
                text-align: center;
            } */
            .match-title{
                font-size: 35px;
            }
            .match-details{
                font-size: 15px;
                margin-right: 150px;
            }
            .live-button{
                text-align: center;
                transform: scale(.9);
            }
            .match-video{
                margin-top: 100px;
                margin-left: 90px;
            }
            .match-video iframe{
                width: 300px;
                height: 400px;
            }
            .company-logo{
                margin: 1px;
                width: 5px;
                height: 5px;
                padding: 10px;
                transform: scale(.41);
            }
            .social-logo{
                transform: scale(.9);
                margin: 80px;
            }
   }